{% extends "Home/padre.html" %}
{% load static %}
{% block division %}
<title>MascotasBlog</title>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('https://i.pinimg.com/736x/43/a5/72/43a5720a3f1361249d940da501c60b87.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>MascotasBlog</h1>
                            <span class="subheading">Blog de mascotas</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <body>
            <div class="masthead-content">
                <div class="container px-5 text-center py-4">
                    <p style="color: green;">{{mensaje}}</p>
                    <a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'Buscar Gatos' %}">Buscar Gatos</a>
                </div>
            </div>
        </body>

{% endblock %}

